<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
  />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>
<body>
<header>
  <h1>Monster Slayer</h1>
</header>
<div id="game">
  <section id="monster" class="container">
    <h2>Monster Health ({{ monsterHealth }})</h2>
    <div class="healthbar">
      <div class="healthbar__value" :style="monsterHealthBarStyle"></div>
    </div>
  </section>

  <section id="player" class="container">
    <h2>Your Health ({{ playerHealth }})</h2>
    <div class="healthbar">
      <div class="healthbar__value" :style="playerHealthBarStyle"></div>
    </div>
  </section>

  <section class="container" v-if="winner !== 'none'">
    <h2>Game Over!</h2>
    <h3 class="log--heal" v-if="winner === 'player'">You won!</h3>
    <h3 class="log--damage" v-else-if="winner === 'monster'">You lost!</h3>
    <h3 v-else>It's a draw!</h3>
    <button @click="newGame">New Game</button>
  </section>

  <section id="controls" v-else>
    <button @click="attackMonster">ATTACK</button>
    <button :disabled="!isSpecialAttackAvailable" @click="specialAttack">SPECIAL ATTACK</button>
    <button @click="healPlayer">HEAL</button>
    <button @click="surrender">SURRENDER</button>
  </section>
  <section id="log" class="container">
    <h2>Battle Log</h2>
    <ul>
      <li v-for="logText in logTexts">
        <span class="log--player" v-if="logText.actionBy === 'player'">Player</span>
        <span class="log--monster" v-else>Monster</span>

        <span v-if="logText.actionType === 'attack'">
          attacks and deals
          <span class="log--damage">
            {{ logText.actionValue }}
          </span>
        </span>
        <span v-else>
          heals himself for
          <span class="log--heal">
            {{ logText.actionValue }}
          </span>
        </span>
      </li>
    </ul>
  </section>
</div>
</body>
</html>
